.sucess {
  border: darkgreen;
  background-color: lightgreen;
  color: darkgreen;
}
.error {
  border: darkred;
  background-color: lightcoral;
  color: darkred;
}
.warning {
  border: darkorange;
  background-color: yellow;
  color: darkorange;
}
