.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
}
.item {
  box-sizing: border-box;
  border: 2px solid chartreuse;
  background-color: chocolate;
  width: 100%;
}
